<table
	border="1">
	{#}Tasna3 ligne f tableau{#}
	<tr>
		<th>
			ID
		</th>
		<th>
			Username
		</th>
		<th>
			Email
		</th>
		<th>
			Détails
		</th>
		<th>
			Delete
		</th>


	</tr>
	{%for a in authorTable %}
		<tr>
			<td>{{a.id}}</td>

			<td>{{a.username }}
			</td>
			<td>
				{{a.email}}
			</td>
			<td>
				<a href="{{path('Details',{'id':a.id})}}">Détails</a>
			</td>
			<td>
				<a href="{{path('DeleteAuthor',{'id':a.id})}}">Delete</a>
			</td>
			{# <td>
							<form action="{{path('DeleteAuthor',{'id':a.id})}}">
								<input type="submit" value="Delete">
							</form>
						</td> #}

		</tr>
		{%else%}Table Not Found
		{%endfor%}
	</table>
